# 1. Qdrant configuration
QDRANT_HOST=...
QDRANT_PORT=...
QDRANT_COLLECTION=spot-ref-docs  
# (Optionnel si on utilise Qdrant Cloud)
QDRANT_API_KEY=...    


# 2. Azure OpenAI embeddings
AZURE_OPENAI_DEPLOYMENT=...      #Used for all tasks other than responding to the user (semantic splitting, translation, metadata identification in query, ...)
AZURE_AGENT_DEPLOYMENT=...
AZURE_FINAL_MODEL_DEPLOYMENT=...
OPENAI_API_VERSION=...        
AZURE_OPENAI_ENDPOINT=...
AZURE_OPENAI_API_KEY=...
AZURE_OPENAI_EMBEDDING_DEPLOYMENT=...

# 3. Pipeline defaults (optionnels, avec fallback dans le code)             
BATCH_SIZE=64                      
CHUNK_SIZE=800                      
CHUNK_OVERLAP=100     

# 4. Langfuse keys
LANGFUSE_PUBLIC_KEY=...
LANGFUSE_SECRET_KEY=...
LANGFUSE_HOST=http://langfuse:3000

#5. Sharepoint credentials
SHAREPOINT_SITE_URL="https://o2fitcom.sharepoint.com/teams/SalesAccelerationToolkit"
SHAREPOINT_USERNAME=...            #Mantu mail
SHAREPOINT_PASSWORD=...            #Mantu password
SHAREPOINT_LIBRARY_NAME="Client Reference Validated"

#6. Parallel processing control
INGESTION_MODE=all # options 5 or all
DOWNLOAD_WORKERS=10    # 3 # These are safer params
CONVERSION_WORKERS=10  # 2
TRANSLATION_WORKERS=10 # 2
SPLITTING_WORKERS=10   # 2
EMBEDDINGS_WORKERS=10  # 2

# Resource limits
MAX_MEMORY_GB=4
API_RATE_LIMIT_OPENAI=10
API_RATE_LIMIT_SP=500

# Monitoring
ENABLE_PROGRESS_TRACKING=true


#Authentication in Chainlit 
#temp asic auth using $chainlit create-secret
CHAINLIT_AUTH_SECRET= 
#Oauth once IT responds
OAUTH_AZURE_AD_CLIENT_ID=your-client-id
OAUTH_AZURE_AD_CLIENT_SECRET=your-client-secret
OAUTH_AZURE_AD_TENANT_ID=your-tenant-id
OAUTH_AZURE_AD_ENABLE_SINGLE_TENANT=true  # For organizational accounts only
CHAINLIT_URL=http://localhost:8000  # Or your production URL; required if behind a proxy