# Python cache files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
env/
pyproject.toml
.venv/
uv.lock

.env
DS_Store

# Docker files
*.log
docker-compose.override.yml

# Byte-compiled / optimized / DLL files
*.pyc
*.pyd
*.pyo
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm
.idea/

# VS Code
.vscode/

# PPTX files
public/Customer_pdf/
src/public/Customer_pdf/

.DS_Store